body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.radix-themes {
  --color-background: var(--gray-1);
  --color-surface: var(--gray-1);

  --default-font-family: var(--font-inter);
}
